.box{
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
}
a,h1,button{
    display:block;
}

.rebec{
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
}

.green{
    background-color: green;
    width: 100px;
    height: 100px;
}
